[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BiocPkgTools"]
	path = BiocPkgTools
	url = https://github.com/seandavi/biocpkgtools
[submodule "GEOquery"]
	path = GEOquery
	url = https://github.com/seandavi/geoquery
[submodule "methylumi"]
	path = methylumi
	url = https://github.com/seandavi/methylumi
